# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build / distribution
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Testing
.pytest_cache/

# Coverage reports
.coverage
htmlcov/